<form method="post" action="{{ path('app_lieu_delete', {'id': lieu.id}) }}" onsubmit="return confirm('Êtes-vous sûr de supprimer cet élement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ lieu.id) }}">
    <button class="btn">Delete</button>
</form>
