{% extends 'base.html.twig' %}

{% block title %}New Campus{% endblock %}

{% block body %}
    <h1>Création nouveau Campus</h1>

    {{ include('campus/_form.html.twig') }}

    <a href="{{ path('app_campus_index') }}">Retour à la liste</a>
{% endblock %}
