<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navigation">
    <div class="userBx">
        <div class="imgBx">
            <img src="user.jpg" alt="user avatar" />
        </div>
        <p class="username">CSSScript</p>
    </div>
    <div class="menuToggle"></div>
    <ul class="menu">
        <li>
            <a href="#">Profile</a>
        </li>
        <li>
            <a href="#">Message</a
            >
        </li>
        <li>
            <a href="#">Notification</a
            >
        </li>
        <li>
            <a href="#">Settings</a>
        </li>
        <li>
            <a href="#">Help</a
            >
        </li>
        <li>
            <a href="#">Logout</a>
        </li>
    </ul>
</div>

</body>
</html>