{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ajouter une série</h1>

    {{ form_start(addSortieForm) }}
    {{ form_widget(addSortieForm) }}
{#    <button name="enregistrer" value="enregistrer">Enregistrer</button>
    <button name="publier" value="publier">Publier la sortie</button>#}
    {{ form_end(addSortieForm) }}
{% endblock %}