<p>Bonjour {{ participant.prenom }},</p>

<p>Merci de vous être inscrit sur Sortir.com !</p>

<p>Pour activer votre compte et définir votre mot de passe, veuillez cliquer sur le lien ci-dessous :</p>

<p>
    <a href="{{ url('app_register_complete_with_token', { token: token }) }}">Activer mon compte</a>
</p>

<p>Ce lien expirera dans 1 heure.</p>

<p>Si vous n'avez pas créé de compte, veuillez ignorer cet e-mail.</p>

<p>Cordialement,</p>
<p>L'équipe Sortir.com</p>