{% extends 'base.html.twig' %}

{% block title %}Éditer l'utilisateur{% endblock %}

{% block body %}
    <h1>Éditer l'utilisateur</h1>

    {{ include('admin/participant/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

    <a href="{{ path('app_admin_participant_index') }}">retour à la liste</a>

    {{ include('admin/participant/_delete_form.html.twig') }}
{% endblock %}
